<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academia Ágil Scrum</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg sticky-top" data-bs-theme="dark">
    <div class="container-fluid d-flex justify-content-between">
      <a class="navbar-brand" href="#">Academia Ágil Scrum</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home |</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#cards">Módulos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <header>
    <div class="container text-start pt-2 pb-3">
      <h1 class="display-6 w-75 fw-bold">Planeje, Colabore e Entregue com Precisão Ágil</h1>
      <hr>
      <p class="lead mt-3">
        Transforme suas ideias em realidade com práticas ágeis! Na Academia Ágil Scrum, você aprenderá a dominar os métodos de desenvolvimento mais eficientes, colaborativos e orientados a resultados. Junte-se a nós e evolua seu processo de entrega de projetos.
      </p>
    </div>
  </header>
  <main>
      <section class="container-fluid mb-5">
        <div  class="container-fluid d-flex justify-content-around align-items-center flex-column seção-bg pb-5">
          <h3 class="container-xl py-5 d-flex">
          <div class="linha">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
            Saiba Mais
          <div class="linha">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
          </h3>
          <!--classe alinha centro porque o justify content center do bootstrap não funciona-->
          <div id="PqScrum" class="d-flex container-fluid align-items-center gap-5 alinha-centro">
            <ul>
              <h4>Por que aprender Scrum?</h4>
              <hr>
                <li class="mt-2">Organize e adapte o andamento dos projetos com uma metodologia ágil.</li>
                <li class="mt-2">Entregue valor de forma contínua e com foco nas necessidades do cliente.</li>
                <li class="mt-2">Evite atrasos e melhore a comunicação dentro do time.</li>
                <li class="mt-2">Fortaleça a colaboração, a produtividade e o foco em resultados.</li>
            </ul>
            <img src="/static/img/SaibaMais.png" height="250px">
          </div>
        </div>
      </section>
      <section class="col-12 d-flex flex-column py-5 px-3">
        <div id="OqScrum" class="container-fluid mt-3 d-flex justify-content-around align-items-center">
          <img src="/static/img/Scrum2.png" height="250px" >
            <ul>
              <h4>O que é o Scrum?</h4>
              <hr>
              <li class="mt-2">O Scrum é uma metodologia ágil de gerenciamento de projetos.</li>
              <li class="mt-2">Foca na entrega contínua de valor para o cliente, com ciclos de trabalho curtos.</li>
              <li class="mt-2">Promove a colaboração entre todos os membros da equipe e stakeholders.</li>
              <li class="mt-2">Adoção de reuniões regulares para planejar, revisar e ajustar o progresso do projeto.</li>
              <li class="mt-2">Faz uso de roles bem definidos, como Product Owner, Scrum Master e Development Team.</li>
              <li class="mt-2">Utiliza artefatos como o Product Backlog, Sprint Backlog e Incremento de produto.</li>
            </ul>
        </div>
        <a href="#cards" class="btn botao mt-4 align-self-center py-2">Saiba mais sobre o conteudo</a>
      </section>
      <section class="container-fluid d-flex flex-column justify-content-between gap-5 seção-bg pb-5">
        <h3 id="cards"  class="container-xl py-5 d-flex justity-content-center">
          <div class="linha">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
            Módulos
          <div class="linha">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </h3>
        <div class="d-flex container-fluid align-items-center gap-5 alinha-centro " id="cartoes">
          <div class="card">
            <img src="/static/img/cowork.png" alt="" class="card-image">
            <div class="card-corpo">
              <h1>Módulo 1</h1>
              <p>Resumo do módulo</p>
              <p class="my-4 card-info">
                O Scrum é um framework ágil que foca na colaboração, entrega incremental e adaptação contínua <br>
                Ele utiliza eventos como Sprints e reuniões diárias, oferecendo maior flexibilidade em comparação aos métodos tradicionais.</p>
                <a class="btn" href="/modulo">Ler o módulo</a>
              </div>
          </div>
          <div class="card" >
              <img src="/static/img/Team goals-pana.png" alt="" class="card-image">
              <div class="card-corpo">
                  <h1>Módulo 2</h1>
                  <p>Resumo do módulo</p>
                  <p class="my-4 card-info">
                  Os papéis no Scrum — Product Owner, Scrum Master e Equipe de Desenvolvimento — têm responsabilidades distintas, mas colaboram para garantir a entrega de produtos de qualidade e adaptação contínua ao projeto.</p>
                  <a class="btn" href="/modulo2">Ler o módulo</a>
              </div>
          </div>
          <div class="card">
            <img src="/static/img/Connected-cuate.png" alt="" class="card-image">
            <div class="card-corpo">
              <h1>Módulo 3</h1>
              <p>Resumo do módulo</p>
              <p class="my-2 card-info">
                O Scrum Escalado envolve vários times coordenados para entregar um produto, enquanto o Scrum pode ser adaptado para equipes distribuídas. Métricas como burn down chart e velocity monitoram o progresso, e o Scrum Master gerencia a equipe, superando desafios no processo e no produto.</p>
                <a class="btn" href="/modulo3">Ler o módulo</a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="text-light container-fluid py-3">
      <p>&copy; 2024 Academia Ágil Scrum.</p>
      <p><a href="https://storyset.com/work">Imagens pela: Work illustrations by Storyset</a></p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>