<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/stylem.css">
    <title>O que é a Metodologia Scrum</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top" data-bs-theme="dark">
        <div class="container-fluid d-flex justify-content-between">
          <a class="navbar-brand" href="/">Academia Ágil Scrum</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home |</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/#cards">Módulos</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <header>
        <div class="container-fluid text-center p-5">
          <h1 class="fw-bold">Módulo 1:</h1>
          <h5>O que é a metodologia Scrum</h5>
        </div>
    </header>
    <main>
        <section id="resumo" class="container-fluid p-5">
            <div class="introducao">
                <h2 class="py-2">O que é Scrum?</h2>
                <p>Atualmente, é uma das metodologias ágeis mais populares. Sua principal função é tornar o processo de produção mais flexível e adaptável, permitindo que as equipes ajustem rapidamente suas prioridades de acordo com as necessidades do projeto. As equipes são incentivadas a trabalhar em sprints, períodos curtos e muito produtivos, com o objetivo de entregar valor ao cliente de forma contínua.</p>
                <p>Neste site, vamos explorar os principais componentes do Scrum, para que você compreenda como gerenciar e aplicar essa metodologia em seus projetos, contribuindo para o sucesso deles. Vamos também discutir como implementar o Scrum de maneira eficaz na sua empresa, para maximizar a eficiência e adaptabilidade em um mercado de tecnologia competitivo.</p>
                <p>De acordo com a metodologia Scrum, o desenvolvimento de software é organizado em três níveis principais: Sprint, Release e Product. Tudo começa com uma lista de requisitos que refletem o valor para o cliente, chamada de Product Backlog. A partir dessa lista, um subconjunto de itens é selecionado para formar o Release Product, que por sua vez é dividido em partes menores chamadas Sprints.</p>
            </div>
        </section>
        <section id="sprint" class="container-fluid p-5 text-light">
            <div class="block">
                <div class="text text-center">
                    <h2 class="py-2">O que é Metodologia Ágil?</h2>
                    <p>Podemos dizer então que a metodologia Scrum é um framework ágil amplamente utilizado no desenvolvimento de software e também aplicado em outros tipos de projetos. Ela facilita o trabalho em equipe e garante a entrega contínua de valor ao cliente. O Scrum funciona em ciclos curtos e repetidos, chamados sprints, que geralmente duram de 2 a 4 semanas esses ciclos podem ser representados visualmente pela imagem a seguir onde durante as sprints ciclos se repetem para que processos e procedimentos sejam realizados, verificados e validados.</p>
                    <img src="/static/img/agile_method-amico.png" width="400px" alt="">
                </div>         
            </div>
        </section>
        <section id="cartoes" class="container-fluid p-5">
          <div class="d-flex container-fluid align-items-center gap-5 alinha-centro" id="cartoes">
              <div class="card">
                <img src="/static/img/Sprint.png" alt="" class="card-image">
                <div class="card-corpo p-2">
                  <h1>Sprint</h1>
                  <p>O que é uma Sprint?</p>
                  <p class="card-info">
                    Os Sprints são ciclos curtos de desenvolvimento, focados em entregar funcionalidades específicas.</p>
                  </div>
              </div>
              <div class="card">
                  <img src="/static/img/Framework.png" alt="" class="card-image">
                  <div class="card-corpo p-2">
                    <h1>Framework</h1>
                    <p>O que é um Framework?</p>
                    <p class="card-info">
                      É um conjunto de estruturas (blibliotecas) que tem como objetivo serem utilizados na solução de problemas relacionados à desenvolvimento de projetos.</p>
                  </div>
              </div>
              <div class="card">
                <img src="/static/img/Metodologia Agil.png" alt="" class="card-image">
                <div class="card-corpo">
                  <h1>Metodologia Ágil</h1>
                  <p>O que é uma Metodologia Ágil?</p>
                  <p class="card-info">
                    É um conjunto de práticas de gestão que tem como objetivo melhorar a produtividade de projeto de diversas formas, essas formas serão explicadas e exemplificadas na metodoligia Scrum.</p>
                  </div>
              </div>
          </div>
        <section>
        <section class="container d-flex justity-content-center">
          <a class="btn mx-auto w-25" href="/quiz1">Ir para o quiz</a>      
        </section>
    </main>
    <footer class="text-light container-fluid py-3">
        <p>&copy; 2024 Academia Ágil Scrum.</p>
        <p><a href="https://storyset.com/work">Imagens pela: Work illustrations by Storyset</a></p>
    </footer>
</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</html>
